<div class="container col-sm-6" style="margin-left: 40px;"> 
	<h1>New Absence</h1>

	<%= render 'form' %>

</div>
<h3 style="margin-top: 32%;"><strong><%= link_to 'Back', absences_path ,:class=>"pull-right" %></strong></h3>